<h2>{{listing_title}}</h2>
<div class="sorts">
  <a data-sort="hot" href="/">hot</a>
  <a data-sort="new" href="/new">new</a>
  <a data-sort="rising" href="/rising">rising</a>
  <a data-sort="top" href="/top">top</a>
</div>
