<!doctype html>
<html>
<head>
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, user-scalable=no">
<script src="/static/index.js" async></script>
<style>{{css}}</style>
<script>{{js}}</script>
</head>
<body>
<div id="header-back">
  <a class="logo" href="/">reddit</a>
  <a class="envelope no-mail"></a>
</div>
<link rel="stylesheet" type="text/css" href="/static/main.css">
